* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Circular St';
    font-size: normal;
}

header {
    align-items: center;
    background-image: linear-gradient(#e5efff, #ffffff);
}

.header-menu {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 20px;
    margin-left: 50px;
}

nav {
    margin-top: 15px;
    margin-left: 100px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #272D4E;
}

.search {
    flex: 1;
    text-align: right;
}

.login {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #272D4E;
}

.btn {
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #7854F7;
    border: none;
    margin: 30px;
}

.search {
    margin-right: 50px;
}

.hero-section {
    display: flex;
    align-items: center;
}

.section-text {
    margin-left: 215px;
    margin-top: 110px;
}

.section-text h1 {
    font-weight: bold;
    font-size: 75px;
    line-height: 90px;
    color: #272D4E;
}

.section-text p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #94A2B3;
}

.section-action {
    display: inline-flex;
    margin-left: 0px;
}

.section-btn {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-action p {
    margin-top: 20px;
    font-weight: bold;
}

.section-a {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #29AAF3;
    text-decoration: none;
}

.img-head-1, .img-head-2, .img-head-3 {
    position: absolute;
}

.img-head-1 {
    top: 220px;
    right: 510px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.img-head-2 {
    top: 300px;
    right: 0px;
}

.img-head-3 {
    right: 200px;
    top: 620px;
    background-color: #ffffff;
    border-radius: 14px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.feature-section {
    margin-top: 350px;
}

.feature-text {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #272D4E;
}

.grid {
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 30px;
}

.card-infor {
    width: 500px;
}

.card-img-1-1, .card-img-1-2, .card-img-1-3 {
    position: absolute;
}

.card-img-1-1 {
    margin-left: 15px;
}

.card-img-1-2 {
    margin-top: 60px;
    margin-left: -90px;
}

.card-img-1-3 {
    margin-top: 40px;
    margin-left: -10px;
}

.card-img-2-1, .card-img-2-2, .card-img-2-3, .card-img-2-4, .card-img-2-5, .card-img-2-6 {
    position: absolute;
}

.card-img-2-1 {
    margin-top: 70px;
    margin-left: -20px;
}

.card-img-2-2 {
    margin-top: 30px;
    margin-left: 29px;
}

.card-img-2-3 {
    margin-top: 90px;
    margin-left: 269px;
}

.card-img-2-4 {
    margin-top: 180px;
    margin-left: 29px;
}

.card-img-2-5 {
    margin-top: 205px;
    margin-left: 209px;
}

.card-img-2-6 {
    margin-top: 320px;
    margin-left: 134px;
}

.card-img-3-1, .card-img-3-2, .card-img-3-3, .card-img-3-4 {
    position: absolute;
}

.card-img-3-1 {
    margin-top: 150px;
    margin-left: -50px;
}

.card-img-3-2 {
    margin-top: 20px;
    margin-left: 190px;
}

.card-img-3-3 {
    margin-top: 100px;
    margin-left: -20px;
}

.card-img-3-4 {
    margin-top: 265px;
    margin-left: 275px;
}

.infor1 {
    margin-top: 380px;
    margin-left: 70px;
}

.infor2 {
    margin-top: 440px;
    margin-left: 30px;
}

.infor3 {
    margin-top: 500px;
}

.infor-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    color: #272D4E;
}

.infor-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #94A2B3;
    margin-bottom: 30px;
}

.btn-section {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #299EF3;

}

.main-section {
    background: url('./assent/background-section.png') no-repeat;
    margin-top: 150px;
}

.main-section1 {
    display: flex;
    justify-content: center;
}

.section1-img {
    margin-top: -60px;
    margin-left: -350px;
}

.section1-content {
    margin-top: 97px;
    margin-left: 70px;
}

.content-sec {
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.content-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 13px;
}

.content-btn {
    margin-top: 39px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #70C217;
    border-radius: 60px;
    padding: 35px;
    border: none;
}

.main-section2 {
    display: flex;
    justify-content: center;
}

.section2-content {
    margin-left: 200px;
}

.section2-img {
    margin-top: -60px;
    margin-left: 70px;
}

.testimonials-section {
    background-color: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    margin-top: 150px;
}

.testi-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}

.testi-card1, .testi-card2, .testi-card3, .elipse1, .elipse2, .avar1, .avar2, .avar3, .avar4, .avar5, .avar6, .arrow-left, .arrow-right, .sign, .testi-text {
    position: absolute;
}

.testi-card1 {
    margin-top: 90px;
    margin-left: 490px;
    z-index: 2;
}

.testi-card2 {
    margin-top: 150px;
    margin-left: 515px;
    opacity: 1;
    z-index: 1;
}

.testi-card3 {
    margin-top: 240px;
    margin-left: 600px;
    z-index: 0;
}

.elipse1 {
    margin-top: 430px;
    margin-left: 420px;
    z-index: 0;
}

.elipse2 {
    margin-top: 150px;
    margin-left: 935px;
    z-index: 0;
}

.avar1 {
    box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
    margin-top: -30px;
    margin-left: 340px;
}

.avar2 {
    margin-top: -75px;
    margin-left: 1310px;
}

.avar3 {
    margin-top: 180px;
    margin-left: 90px;
}

.avar4 {
    margin-top: 200px;
    margin-left: 1460px;
}

.avar5 {
    margin-top: 510px;
    margin-left: 220px;
}

.avar6 {
    margin-top: 610px;
    margin-left: 1390px;
}

.arrow-left {
    margin-top: 605px;
    margin-left: 1050px;
}

.arrow-right {
    margin-top: 601px;
    margin-left: 1110px;
}

.sign {
    margin-top: 160px;
    margin-left: 800px;
    z-index: 3;
}

.testi-text {
    font-weight: normal;
    font-size: 26.7px;
    line-height: 39px;
    text-align: center;
    color: #94A2B3;
    margin-top: 240px;
    margin-left: 640px;
    z-index: 4;
}

.cta-section {
    margin-top: 900px;
}

.cta-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}

.cta-content {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #94A2B3;
    margin-top: 30px;
}

.cta-img {
    margin-top: 30px;
    margin-left: 250px;
}

.people-section {
    background-color: #5F37EF;
    display: flex;
    margin-top: -4px;
}

.pp-text {
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
    margin-left: 415px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pp-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
    background-color: #5F37EF;
    padding: 40px;
    height: 1px;
    margin-top: 60px;
    margin-left: 70px;
}

footer {
    background-color: #7854F7;
    height: 900px;
}

.footer-des {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 100px;
}

.des {
    display: flex;
    margin-top: 40px;
}

.des-content {
    font-weight: normal;
    font-size: 20px;
    line-height: 52px;
    color: #FFFFFF;
    padding-left: 15px;
}

.footer-logo {
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.footer-line {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.footer-about {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.about-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-content {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}

.about-column {
    margin: 60px;
}

.footer-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
    background-color: #FFFFFF;
    height: 80px;
}

.contact-icon {
    margin-top: 25px;
    margin-left: -80px;
}

.icon {
    margin: 30px;
}

.contact-copy {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #272D4E;
    margin-top: 33px;
    margin-left: 300px;
}

.contact-logo {
    margin-top: 35px;
}

.logo-img {
    margin-left: 300px;
}